<mat-card class="user-profile">
    <app-user-info class="user-details" [user]="userDetails"></app-user-info>

    <div class="event-requests">
        <mat-accordion class="expansions">
            <mat-expansion-panel class="upcoming" [expanded]="upcomingEvents.length>0">
                <mat-expansion-panel-header>
                    <mat-panel-title>Upcoming Events</mat-panel-title>
                </mat-expansion-panel-header>
            </mat-expansion-panel>

            <mat-card class="my-events mat-elevation-z4">
                <mat-card-header>
                    <h3>My Events</h3>
                    <button mat-raised-button color="primary" class="add-event" (click)="openRequest()">New
                        Request</button>
                </mat-card-header>

                <mat-expansion-panel class="pending">
                    <mat-expansion-panel-header>
                        <mat-panel-title>Pending Request</mat-panel-title>
                    </mat-expansion-panel-header>
                    <div *ngFor="let pendingEvent of pendingRequests" class="pending-list" style="display: grid; grid-template-columns: 1fr 1fr 1fr;">
                        <p>{{pendingEvent.eventName}}</p>
                        <p>{{pendingEvent.eventDate | date: 'dd-MMMM-yyyy'}}</p>
                        <div style="display: flex;">
                            <button mat-raised-button (click)="viewSuggestions(pendingEvent)"
                                color="primary">Suggestion</button>
                            <button mat-stroked-button (click)="rejectEvent(pendingEvent)" color="warn">delete</button>
                        </div>
                    </div>
                </mat-expansion-panel>

                <mat-expansion-panel class="past">
                    <mat-expansion-panel-header>
                        <mat-panel-title>Past Events</mat-panel-title>
                    </mat-expansion-panel-header>
                    <div *ngFor="let past of pastEvents" style="display: grid; grid-template-columns: 1fr 1fr 1fr 1fr;">
                        <p>{{past.eventName}}</p>
                        <p>{{past.eventDate | date: 'dd-MMMM-yyyy'}}</p>
                    </div>
                </mat-expansion-panel>

                <mat-expansion-panel class="rejected">
                    <mat-expansion-panel-header>
                        <mat-panel-title>Rejected Events</mat-panel-title>
                    </mat-expansion-panel-header>
                    <div *ngFor="let reject of rejectedEvents" style="display: grid; grid-template-columns: 1fr 1fr 1fr 1fr;">
                        <p>{{reject.eventName}}</p>
                        <p>{{reject.eventDate | date: 'dd-MMMM-yyyy'}}</p>
                    </div>
                </mat-expansion-panel>
            </mat-card>
        </mat-accordion>
    </div>
</mat-card>