.user-info {
    display: grid;
    justify-content: left;
    margin-top: 20px;
    grid-template-columns: 1fr 1fr;

    .avatar {
        img {
            width: 50%;
            height: 90%;
            border-radius: 50%;
            margin-left: 40px;
        }
    }

    .info{
        .userinfo{
            box-shadow: 10cm;
        }
    }
}