// app-footer {
//   bottom: 0;
//   position: fixed;
//   width: 100%;
// }

*{
  overflow-x: hidden
}
router-outlet {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}