<div>
  <div>
    <div class="corousel">
      <div>
        <img class="corousel-image" [src]="carousel[0].image">
      </div>
      <div class="get-started">
        <h1 class="corousel-caption">Beyond Events, We Craft Experiences!</h1>
        <button mat-raised-button (click)="openRegister()" class="btn-started">Get Started</button>
      </div>
    </div>
  </div>

  <!-- <div class="team-section">
    <div class="team-section-header">
      <h2>Our Team</h2>
    </div>
    <app-team></app-team>
  </div> -->
  <app-footer></app-footer>
</div>