*{
    color: white;
}

.event-request {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/corosel-1.jpg') ;

    .request-form {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;

        form {
            display: grid;
            grid-template-columns: 1fr 1fr;
            width: 100%;
            justify-content: center;
            align-items: center;
            margin: 20px;

            mat-form-field{
                margin: 10px;
                input{
                    color: white;
                }
            }

            button {
                margin: 20px;
                width: 50%;
                justify-self: center;
            }
        }
    }
}