.event-request {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80vw;
    height: 85vh;

    .image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 95%;
        height: 95%;
    }

    .request-form {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 95%;

        form {
            display: grid;
            width: 100%;
            justify-content: center;
            align-items: center;

            button {
                margin: 10px;
                width: 300px;
            }
        }
    }
}