<div class="about-container">
    <div class="about about-1" style="align-items: center !important;">
        <div>
            <h1 class="about-head">SS Events</h1>
            <h4>address address
            <br>address</h4>

            <h4><b>Phone :</b> 0000000000</h4>
            <h4><b>E-mail :</b> info@ssevents.com</h4>
        </div>
    </div>

    <div class="about about-2">
        <div>
            <h3 class="about-head">Our Social Networks</h3>
            <h4>To know more visit here</h4><br>
            <button mat-icon-button class="social-buttons" ><mat-icon color="primary">language</mat-icon></button>
            <button mat-icon-button class="social-buttons"><mat-icon color="primary">language</mat-icon></button>
            <button mat-icon-button class="social-buttons"><mat-icon color="primary">language</mat-icon></button>
            <button mat-icon-button class="social-buttons"><mat-icon color="primary">language</mat-icon></button>
        </div>
    </div>
</div>
