<mat-card class="register">
  <div class="image">
    <img src="../../assets/register-background.jpg" alt="" height="100%" width="100%">
  </div>

  <div class="form" *ngIf="!isLogin">
    <form [formGroup]="registerForm">
      <mat-form-field appearance="outline">
        <mat-label>Full Name</mat-label>
        <input matInput formControlName="name" />
        <mat-error></mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>E-mail Address</mat-label>
        <input matInput formControlName="email" />
        <mat-error></mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Contact Number</mat-label>
        <input matInput formControlName="contactno" />
        <mat-error></mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" />
        <mat-error></mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input matInput formControlName="confirmPassword" />
        <mat-error></mat-error>
      </mat-form-field>

      <button mat-raised-button (click)="register()" color="primary">Register</button>
      <button mat-stroked-button (click)="toggleRegister()" color="basic">Already a User? Login</button>
    </form>
  </div>

  <div class="form" *ngIf="isLogin">
    <form [formGroup]="loginForm">
      <mat-form-field appearance="outline">
        <mat-label>E-Mail</mat-label>
        <input matInput formControlName="email" />
        <mat-error></mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password"/>
        <mat-error></mat-error>
      </mat-form-field>

      <button mat-raised-button (click)="login()" color="primary" class="main-button">Login</button>
      <button mat-stroked-button (click)="toggleRegister()" color="basic" class="toggle-button">New User? Regiter</button>
    </form>
  </div>

  <!-- <div class="image">
      <img
        src="https://cdn1.vectorstock.com/i/1000x1000/87/50/man-male-young-person-icon-vector-10458750.jpg"
        alt=""
      />
    </div> -->
</mat-card>