.transaction {
    .requet-form {
        margin: 20px;
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;

        mat-form-field {
            width: 100%;
        }

        .button {
            display: grid;
            grid-template-columns: 1fr;

            button {
                margin: 10px;
            }
        }
    }
}