<div class="team">
  <mat-card class="team-1 mat-elevation-z4">
      <div class="image-container">
          <img height="120" width="120" src="https://cdn1.vectorstock.com/i/1000x1000/87/50/man-male-young-person-icon-vector-10458750.jpg">
      </div>

      <div class="info-container">
          <div class="name">
              <h3>Name Surname</h3>
              <hr>
              <h4>Chief Executive Officer</h4>
              <p></p>
          </div>
          <div class="social">
              <button mat-icon-button><mat-icon>language</mat-icon></button>
              <button mat-icon-button><mat-icon>language</mat-icon></button>
              <button mat-icon-button><mat-icon>language</mat-icon></button>
              <button mat-icon-button><mat-icon>language</mat-icon></button>
          </div>
      </div>
  </mat-card>

    <mat-card class="team-2 mat-elevation-z4">
      <div class="image-container">
          <img height="120" width="120" src="https://cdn1.vectorstock.com/i/1000x1000/87/50/man-male-young-person-icon-vector-10458750.jpg">
      </div>
      <div class="info-container">
          <div class="name">
              <h3>Name Surname</h3>
              <hr>
              <h4>Chief Executive Officer</h4>
              <p></p>
          </div>
          <div class="social">
              <button mat-icon-button><mat-icon>language</mat-icon></button>
              <button mat-icon-button><mat-icon>language</mat-icon></button>
              <button mat-icon-button><mat-icon>language</mat-icon></button>
              <button mat-icon-button><mat-icon>language</mat-icon></button>
          </div>
      </div>
  </mat-card>


  <mat-card class="team-1 mat-elevation-z4">
      <div class="image-container">
          <img height="120" width="120" src="https://cdn1.vectorstock.com/i/1000x1000/87/50/man-male-young-person-icon-vector-10458750.jpg">
      </div>

      <div class="info-container">
          <div class="name">
              <h3>Name Surname</h3>
              <hr>
              <h4>Chief Executive Officer</h4>
              <p></p>
          </div>
          <div class="social">
              <button mat-icon-button><mat-icon>language</mat-icon></button>
              <button mat-icon-button><mat-icon>language</mat-icon></button>
              <button mat-icon-button><mat-icon>language</mat-icon></button>
              <button mat-icon-button><mat-icon>language</mat-icon></button>
          </div>
      </div>
  </mat-card>

    <mat-card class="team-2 mat-elevation-z4">
      <div class="image-container">
          <img height="120" width="120" src="https://cdn1.vectorstock.com/i/1000x1000/87/50/man-male-young-person-icon-vector-10458750.jpg">
      </div>
      <div class="info-container">
          <div class="name">
              <h3>Name Surname</h3>
              <hr>
              <h4>Chief Executive Officer</h4>
              <p></p>
          </div>
          <div class="social">
              <button mat-icon-button><mat-icon>language</mat-icon></button>
              <button mat-icon-button><mat-icon>language</mat-icon></button>
              <button mat-icon-button><mat-icon>language</mat-icon></button>
              <button mat-icon-button><mat-icon>language</mat-icon></button>
          </div>
      </div>
  </mat-card>
  <!-- <div class="team-2"></div>

  <div class="team-3"></div>

  <div class="team-4"></div> -->
</div>
